.options-dropdown-item {
    display: block;
    width: 100%;
    text-align: left;
  }

  .actions-menu-head button {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

  .actions-menu-head button:hover {
    background-color: var(--primary-color);
    color: white;
    border-color: white;
  }