.main-section{
    background-color: var(--primary-color);
}

.bg-section{ 
    background-color: #f7f7f7; 
    margin-top: -50px;
    border-radius: 10px;
    box-shadow: 0 0px 20px #0000001f;
 }

 .form-check label{ 
    margin-bottom: 0;
}